<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>[[${tituloPagina}]]</title>
    <th:block th:insert="fragments/interface :: headTag"></th:block>
    <style th:insert="fragments/interface :: css"></style>
</head>
<body>
<div class="container-fluid text-center">
    <div th:insert="fragments/interface :: menu"></div>

    <div>
        <h1>[[${tituloPagina}]]</h1>
    </div>

    <div th:insert="fragments/interface :: mensagens"></div>

    <form th:action="@{/automacoes/salvar}" method="post" th:object="${automacao}" style="max-width: 500px; margin: 0 auto">
        <div class="border border-secondary rounded p-3">
            <input id="id" type="hidden" th:field="*{id}">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="nome">Nome:</label>
                <div class="col-sm-8">
                    <input id="nome" type="text" th:field="*{nome}" class="form-control" required minlength="2" maxlength="45"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="descricao">Descrição:</label>
                <div class="col-sm-8">
                    <textarea style="resize: none;" id="descricao" type="text" th:field="*{descricao}" class="form-control" maxlength="255"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="ativo">Ativo:</label>
                <div class="col-sm-8">
                    <input id="ativo" type="checkbox" th:field="*{ativo}"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Dias de execução:</label>
                <div class="col-sm-8">
                    <label class="col-sm-4 col-form-label" for="domingo">Domingo</label>
                    <input id="domingo" type="checkbox" th:field="*{domingo}"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    <label class="col-sm-4 col-form-label" for="segunda">Segunda</label>
                    <input id="segunda" type="checkbox" th:field="*{segunda}"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    <label class="col-sm-4 col-form-label" for="terca">Terça</label>
                    <input id="terca" type="checkbox" th:field="*{terca}"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    <label class="col-sm-4 col-form-label" for="quarta">Quarta</label>
                    <input id="quarta" type="checkbox" th:field="*{quarta}"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    <label class="col-sm-4 col-form-label" for="quinta">Quinta</label>
                    <input id="quinta" type="checkbox" th:field="*{quinta}"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    <label class="col-sm-4 col-form-label" for="sexta">Sexta</label>
                    <input id="sexta" type="checkbox" th:field="*{sexta}"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    <label class="col-sm-4 col-form-label" for="sabado">Sábado</label>
                    <input id="sabado" type="checkbox" th:field="*{sabado}"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="horarioInicio">Horário de início:</label>
                <div class="col-sm-8">
                    <input id="horarioInicio" type="text" th:field="*{horarioInicio}" class="form-control" pattern="[0-9]{2}:[0-9]{2}" placeholder="Exemplo: 07:30" title="Exemplo: 07:30"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="horarioFim">Horário fim:</label>
                <div class="col-sm-8">
                    <input id="horarioFim" type="text" th:field="*{horarioFim}" class="form-control" pattern="[0-9]{2}:[0-9]{2}" placeholder="Exemplo: 07:30" title="Exemplo: 07:30"/>
                </div>
            </div>
            <div class="form-group row" th:if="${adm}">
                <label class="col-sm-4 col-form-label" for="orientacoesPendencias">Orientações para pendências:</label>
                <div class="col-sm-8">
                    <textarea style="resize: none;" id="orientacoesPendencias" type="text" th:field="*{orientacoesPendencias}" class="form-control" maxlength="255"></textarea>
                </div>
            </div>
            <div class="form-group row" th:if="${adm}">
                <label class="col-sm-4 col-form-label" for="estrutura">Estruturar pendências:</label>
                <div class="col-sm-8">
                    <textarea style="resize: none;" id="estrutura" type="text" required th:field="*{estrutura}" class="form-control" maxlength="255" title="Informar o que cada coluna de cada planilha representará separando-as por ';'"></textarea>
                </div>
            </div>
            <div class="form-group row" th:if="${adm}">
                <label class="col-sm-4 col-form-label" for="habilitarTexto">Habilitar texto de apoio:</label>
                <div class="col-sm-8">
                    <input id="habilitarTexto" type="checkbox" th:field="*{habilitarTexto}"/>
                </div>
            </div>
            <div class="form-group row" th:if="${adm}">
                <label class="col-sm-4 col-form-label" for="orientacoesTexto">Orientações para texto de apoio:</label>
                <div class="col-sm-8">
                    <textarea style="resize: none;" id="orientacoesTexto" type="text" th:field="*{orientacoesTexto}" class="form-control" maxlength="255"></textarea>
                </div>
            </div>
            <div class="form-group row" th:hidden="${!automacao.isHabilitarTexto()}">
                <label class="col-sm-4 col-form-label" for="texto" th:text="${automacao.getOrientacoesTexto()}"></label>
                <div class="col-sm-8">
                    <textarea style="resize: none;" id="texto" type="text" th:field="*{texto}" class="form-control" maxlength="255"></textarea>
                </div>
            </div>
            <div class="text-center">
                <a class="btn btn-primary m-2" data-toggle="modal" data-target="#subirPendencias" th:if="${automacao.getId() != null}">Subir pendências</a>
                <br th:if="${automacao.getId() != null}">
                <a class="btn btn-primary m-2" data-toggle="modal" data-target="#consultarPendencias" th:if="${automacao.getId() != null}">Consultar pendências</a>
                <br th:if="${automacao.getId() != null}">
                <a th:if="${adm && numPendencias > 0}" class="btn btn-primary m-2" th:href="@{'/automacoes/apagarpendencias/' + ${automacao.id} + '/false'}">Apagar pendências</a>
                <br th:if="${adm && numPendencias > 0}">
                <a th:if="${adm && numPendencias > 0}" class="btn btn-primary m-2" th:href="@{'/automacoes/apagarpendencias/' + ${automacao.id} + '/true'}">Apagar pendências processadas</a>
                <br th:if="${adm && numPendencias > 0}">
                <a class="btn btn-primary m-2" data-toggle="modal" data-target="#consultarLogs" th:if="${automacao.getId() != null}">Consultar logs</a>
                <br th:if="${automacao.getId() != null}">
                <a th:if="${adm && numLogs > 0}" class="btn btn-primary m-2" th:href="@{'/automacoes/apagarlogs/' + ${automacao.id}}">Apagar logs</a>
                <br th:if="${adm && numLogs > 0}">
                <button type="submit" class="btn btn-primary m-2">Salvar</button>
            </div>
        </div>
        <label></label>
    </form>
</div>

<div class="container">
    <div class="modal fade" id="subirPendencias" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <div class="modal-header text-center">
                    <h4 class="modal-title text-center" th:text="${automacao.orientacoesPendencias}"></h4>
                </div>
                <form th:action="@{'/automacoes/subirpendencias'}" enctype="multipart/form-data" method="post" style="max-width: 350px; margin: 0 auto">
                    <div class="modal-body">
                        <p>
                            <input type="number" hidden name="id" th:value="${automacao.id}">
                            <input type="file" name="arquivos" class="form-control" accept=".xlsx, .xls" multiple required autofocus>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" data-toggle="modal" data-target="#loading" data-backdrop="static" data-keyboard="false" value="Subir pendências" class="btn btn-primary">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="modal fade" id="consultarPendencias" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content text-center">
                <div class="modal-header text-center">
                    <h4 class="modal-title text-center" th:if="${numPendencias} <= ${pendencias.size()}">Foram encontradas [[${numPendencias}]] pendências para essa automação.</h4>
                    <h4 class="modal-title text-center" th:if="${numPendencias} > ${pendencias.size()}">Foram encontradas [[${numPendencias}]] pendências para essa automação. Exibindo as [[${pendencias.size()}]] pendências mais recentes.</h4>
                </div>

                <form th:action="@{'/automacoes/apagarpendencias'}" method="post">
                    <input type="number" hidden name="id" th:value="${automacao.id}">
                    <input type="text" hidden name="ids" id="pendenciasSelecionadas">
                    <table id="tabela1" class="table table-bordered" th:if="${numPendencias} > 0" style="table-layout: fixed;">
                        <thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th onclick="clicar(1, 'tabela1')" class="text-center">ID<br><input type="number" id="input1" onkeyup="pesquisar1()" placeholder="Pesquisar" class="form-control"></th>
                            <th onclick="clicar(2, 'tabela1')" class="text-center">Nome arquivo<br><input type="text" id="input2" onkeyup="pesquisar1()" placeholder="Pesquisar" class="form-control"></th>
                            <th onclick="clicar(3, 'tabela1')" class="text-center">Dados<br><input type="text" id="input3" onkeyup="pesquisar1()" placeholder="Pesquisar" class="form-control"></th>
                            <th onclick="clicar(4, 'tabela1')" class="text-center">Processado<br><input type="checkbox" id="input4" onclick="pesquisar1()"></th>
                            <th onclick="clicar(5, 'tabela1')" class="text-center">Data hora upload<br><input type="date" id="input5" onkeyup="pesquisar1()" placeholder="Pesquisar" class="form-control"></th>
                            <th onclick="clicar(6, 'tabela1')" class="text-center">Data hora processado<br><input type="date" id="input6" onkeyup="pesquisar1()" placeholder="Pesquisar" class="form-control"></th>
                            <th th:if="${adm}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="pendencia : ${pendencias}">
                            <tr>
                                <td><input type="checkbox" th:id="${pendencia.id}" onclick="selecionarCheckbox(this)"></td>
                                <td>[[${pendencia.id}]]</td>
                                <td>[[${pendencia.nomeArquivo}]]</td>
                                <td style="word-wrap:break-word;">[[${pendencia.json}]]</td>
                                <td>[[${pendencia.isProcessado()}]]</td>
                                <td>[[${pendencia.dataHoraUpload}]]</td>
                                <td>[[${pendencia.dataHoraProcessamento}]]</td>
                                <td th:if="${adm}">
                                    <a class="btn btn-primary" th:href="@{'/automacoes/excluirpendencia/' + ${pendencia.id}}">Excluir</a>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>

                    <div class="modal-footer">
                        <input th:if="${numPendencias > 0}" type="submit" value="Excluir pendências selecionadas" class="btn btn-primary">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="modal fade" id="consultarLogs" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <div class="modal-header text-center">
                    <h4 class="modal-title text-center" th:if="${numLogs} <= ${logs.size()}">Foram encontrados [[${numLogs}]] logs para essa automação.</h4>
                    <h4 class="modal-title text-center" th:if="${numLogs} > ${logs.size()}">Foram encontrados [[${numLogs}]] logs para essa automação. Exibindo os [[${logs.size()}]] logs mais recentes.</h4>
                </div>

                <table id="tabela2" class="table table-bordered" th:if="${numLogs} > 0">
                    <thead class="thead-dark">
                    <tr>
                        <th onclick="clicar(0, 'tabela2')" class="text-center">ID<br><input type="number" id="input7" onkeyup="pesquisar2()" placeholder="Pesquisar" class="form-control"></th>
                        <th onclick="clicar(1, 'tabela2')" class="text-center">Hora<br><input type="date" id="input8" onkeyup="pesquisar2()" placeholder="Pesquisar" class="form-control"></th>
                        <th onclick="clicar(2, 'tabela2')" class="text-center">Token<br><input type="text" id="input9" onkeyup="pesquisar2()" placeholder="Pesquisar" class="form-control"></th>
                        <th onclick="clicar(3, 'tabela2')" class="text-center">Mensagem<br><input type="text" id="input10" onkeyup="pesquisar2()" placeholder="Pesquisar" class="form-control"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="log : ${logs}">
                        <tr>
                            <td>[[${log.id}]]</td>
                            <td>[[${log.hora}]]</td>
                            <td th:if="${log.token != null}">[[${log.token.nome}]]</td>
                            <td th:if="${log.token == null}">Token deletado</td>
                            <td>[[${log.mensagem}]]</td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="fragments/interface :: alterarSenha"></div>
<div th:insert="fragments/interface :: loading"></div>

<script>
    function selecionarCheckbox(checkBox) {
        let pendenciasSelecionadas = document.getElementById("pendenciasSelecionadas");

        if (checkBox.checked === true){
            pendenciasSelecionadas.value = pendenciasSelecionadas.value + checkBox.getAttribute("id") + ";";
        } else {
            pendenciasSelecionadas.value = pendenciasSelecionadas.value.replace(checkBox.getAttribute("id") + ";", "");
        }
    }
</script>

<script>
    function pesquisar1() {
        let input1, input2, input3, input4, input5, input6, filter1, filter2, filter3, filter4, dia1, mes1, ano1, dia2, mes2, ano2, table, tr, td1, td2, td3, td4, td5, td6, i, txtValue1, txtValue2, txtValue3, txtValue4, txtValue5, txtValue6;
        input1 = document.getElementById("input1");
        input2 = document.getElementById("input2");
        input3 = document.getElementById("input3");
        input4 = document.getElementById("input4");
        input5 = document.getElementById("input5");
        input6 = document.getElementById("input6");
        filter1 = input1.value.toUpperCase();
        filter2 = input2.value.toUpperCase();
        filter3 = input3.value.toUpperCase();
        filter4 = input4.checked;
        dia1 = input5.value.toUpperCase().substring(8);
        mes1 = input5.value.toUpperCase().substring(5, 7);
        ano1 = input5.value.toUpperCase().substring(0, 4);
        dia2 = input6.value.toUpperCase().substring(8);
        mes2 = input6.value.toUpperCase().substring(5, 7);
        ano2 = input6.value.toUpperCase().substring(0, 4);
        table = document.getElementById("tabela1");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td1 = tr[i].getElementsByTagName("td")[1];
            td2 = tr[i].getElementsByTagName("td")[2];
            td3 = tr[i].getElementsByTagName("td")[3];
            td4 = tr[i].getElementsByTagName("td")[4];
            td5 = tr[i].getElementsByTagName("td")[5];
            td6 = tr[i].getElementsByTagName("td")[6];

            if (td1 && td2 && td3 && td4 && td5 && td6) {
                txtValue1 = td1.textContent || td1.innerText;
                txtValue2 = td2.textContent || td2.innerText;
                txtValue3 = td3.textContent || td3.innerText;
                txtValue4 = td4.textContent || td4.innerText;
                txtValue5 = td5.textContent || td5.innerText;
                txtValue6 = td6.textContent || td6.innerText;
                if (txtValue1.toUpperCase().indexOf(filter1) > -1 &&
                    txtValue2.toUpperCase().indexOf(filter2) > -1 &&
                    txtValue3.toUpperCase().indexOf(filter3) > -1 &&
                    (txtValue4.toUpperCase() === "SIM" && filter4 === true || txtValue4.toUpperCase() === "NÃO" && filter4 === false) &&
                    txtValue5.toUpperCase().indexOf(dia1) > -1 && txtValue5.toUpperCase().indexOf(mes1) > -1 && txtValue5.toUpperCase().indexOf(ano1) > -1 &&
                    txtValue6.toUpperCase().indexOf(dia2) > -1 && txtValue6.toUpperCase().indexOf(mes2) > -1 && txtValue6.toUpperCase().indexOf(ano2) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

<script>
    function pesquisar2() {
        let input7, input8, input9, input10, filter7, dia, mes, ano, filter9, filter10, table, tr, td7, td8, td9, td10, i, txtValue7, txtValue8, txtValue9, txtValue10;
        input7 = document.getElementById("input7");
        input8 = document.getElementById("input8");
        input9 = document.getElementById("input9");
        input10 = document.getElementById("input10");
        filter7 = input7.value.toUpperCase();
        dia = input8.value.toUpperCase().substring(8);
        mes = input8.value.toUpperCase().substring(5, 7);
        ano = input8.value.toUpperCase().substring(0, 4);
        filter9 = input9.value.toUpperCase();
        filter10 = input10.value.toUpperCase();
        table = document.getElementById("tabela2");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td7 = tr[i].getElementsByTagName("td")[0];
            td8 = tr[i].getElementsByTagName("td")[1];
            td9 = tr[i].getElementsByTagName("td")[2];
            td10 = tr[i].getElementsByTagName("td")[3];

            if (td7 && td8 && td9 && td10) {
                txtValue7 = td7.textContent || td7.innerText;
                txtValue8 = td8.textContent || td8.innerText;
                txtValue9 = td9.textContent || td9.innerText;
                txtValue10 = td10.textContent || td10.innerText;
                if (txtValue7.toUpperCase().indexOf(filter7) > -1 && txtValue8.toUpperCase().indexOf(dia) > -1 && txtValue8.toUpperCase().indexOf(mes) > -1 && txtValue8.toUpperCase().indexOf(ano) > -1 && txtValue9.toUpperCase().indexOf(filter9) > -1 && txtValue10.toUpperCase().indexOf(filter10) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

<div th:insert="fragments/interface :: ordenarTabela"></div>

</body>
</html>