<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Erro</title>
    <th:block th:insert="fragments/interface :: headTag"></th:block>
    <style th:insert="fragments/interface :: css"></style>
</head>
<body>
<div class="container-fluid text-center">
    <div th:insert="fragments/interface :: menu"></div>

    <div>
        <br>
        <br>
        <br>
        <h1 th:if="${!adm}">Ocorreu uma falha no sistema, favor contatar o administrador</h1>
        <h1 th:if="${adm}" th:text="${erroMensagem}"></h1>
        <br th:if="${adm}">
        <p th:if="${adm}" th:text="${erroStacktrace}"></p>
    </div>
</div>

<div th:insert="fragments/interface :: alterarSenha"></div>
</body>
</html>