<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <th:block th:insert="fragments/interface :: headTag"></th:block>
</head>
<body>
<div class="container-fluid text-center">
    <div th:if="${param.error}" class="alert alert-warning alert-dismissible text-center" role="alert">
        <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
        [[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]
    </div>

    <div th:if="${param.logout}" class="alert alert-success alert-dismissible text-center" role="alert">
        <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
        Usuário deslogado
    </div>

    <div th:if="${param.sessaoexpirada}" class="alert alert-warning alert-dismissible text-center" role="alert">
        <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
        Sessão expirada
    </div>

    <div th:if="${param.emailinvalido}" class="alert alert-warning alert-dismissible text-center" role="alert">
        <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
        E-mail não cadastrado
    </div>

    <div th:if="${param.senharecuperada}" class="alert alert-success alert-dismissible text-center" role="alert">
        <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
        Um e-mail foi enviado ao endereço informado contendo a nova senha para acesso ao sistema
    </div>

    <form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto; position: absolute; top: 30%; right: 0; left: 0">
        <div class="border border-secondary p-3 rounded">
            <p>Realize seu login no Sistemato</p>
            <p>
                <input type="email" name="email" class="form-control" placeholder="E-mail" required autofocus>
            </p>
            <p>
                <input type="password" name="password" class="form-control" placeholder="Senha" required>
            </p>
            <p>
                <input type="submit" value="Login" class="btn btn-primary">
            </p>
            <p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#recuperarSenhaModal">Recuperar senha</button>
            </p>
        </div>
    </form>

    <div class="container">
        <div class="modal fade" id="recuperarSenhaModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content text-center">
                    <div class="modal-header text-center">
                        <h4 class="modal-title text-center">Informe seu email</h4>
                    </div>
                    <form th:action="@{/recuperarsenha}" method="post" style="max-width: 350px; margin: 0 auto">
                        <div class="modal-body">
                            <p>
                                <input type="email" name="email" class="form-control" placeholder="E-mail" required autofocus>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" data-toggle="modal" data-target="#loading" data-backdrop="static" data-keyboard="false" value="Recuperar senha" class="btn btn-primary">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<div th:insert="fragments/interface :: loading"></div>
</body>
</html>