<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Usuários</title>
    <th:block th:insert="fragments/interface :: headTag"></th:block>
    <style th:insert="fragments/interface :: css"></style>
</head>
<body>
<div class="container-fluid text-center">
    <div th:insert="fragments/interface :: menu"></div>

    <div>
        <h1>Usuários</h1>
    </div>

    <div th:insert="fragments/interface :: mensagens"></div>

    <div>
        <table id="tabela1" class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th onclick="clicar(0, 'tabela1')" class="text-center">ID<br><input type="number" id="input1" onkeyup="pesquisar()" placeholder="Pesquisar" class="form-control"></th>
                <th onclick="clicar(1, 'tabela1')" class="text-center">E-mail<br><input type="text" id="input2" onkeyup="pesquisar()" placeholder="Pesquisar" class="form-control"></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="usuario : ${usuarios}">
                <tr>
                    <td>[[${usuario.id}]]</td>
                    <td>[[${usuario.email}]]</td>
                    <td>
                        <a class="btn btn-primary" th:href="@{'/usuarios/consultar/' + ${usuario.id}}">Consultar</a>
                        <a th:if="${usuario.adm && usuario.id > 1}" class="btn btn-primary" th:href="@{'/usuarios/admtoggle/' + ${usuario.id}}">Retirar ADM</a>
                        <a th:if="${!usuario.adm}" class="btn btn-primary" th:href="@{'/usuarios/admtoggle/' + ${usuario.id}}">Tornar ADM</a>
                        <a th:if="${usuario.id} > 1" class="btn btn-primary" th:href="@{'/usuarios/excluir/' + ${usuario.id}}">Deletar</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>

<div th:insert="fragments/interface :: alterarSenha"></div>

<div th:insert="fragments/interface :: pesquisarTabela"></div>
<div th:insert="fragments/interface :: ordenarTabela"></div>
</body>
</html>