<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.png}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>[[${tituloPagina}]]</title>
</head>
<body>
<div class="container-fluid text-center">
    <label></label>
    <div>
        <form th:action="@{/logout}" method="post">
            <input class="btn btn-danger" style="margin-right: 90%" type="submit" value="Deslogar">
        </form>
    </div>

    <div class="m-2">
        <a class="btn btn-primary" style="margin-right: 90%; margin-top: 1%" th:href="@{/voltar/usuario}">Voltar</a>
    </div>

    <div>
        <h1>[[${tituloPagina}]]</h1>
    </div>

    <!--/*@thymesVar id="mensagemErro" type="java.lang.String"*/-->
    <div th:if="${mensagemErro}" class="alert alert-warning alert-dismissible text-center" role="alert">
        <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
        [[${mensagemErro}]]
    </div>

    <form th:action="@{/usuarios/salvar}" method="post" th:object="${usuario}" style="max-width: 500px; margin: 0 auto">
        <div class="border border-secondary rounded p-3">
            <input id="id" type="hidden" th:field="*{id}">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="email">E-mail:</label>
                <div class="col-sm-8">
                    <input id="email" type="email" th:field="*{email}" class="form-control" required maxlength="45"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="senha">Senha:</label>
                <div class="col-sm-8">
                    <input style="resize: none;" id="senha" type="password" th:field="*{senha}" class="form-control" maxlength="64">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="adm" th:if="${usuario.getId() == null || usuario.getId() > 1}">ADM:</label>
                <div class="col-sm-8">
                    <input id="adm" type="checkbox" th:field="*{adm}" th:if="${usuario.getId() == null || usuario.getId() > 1}"/>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary m-2">Salvar</button>
            </div>
        </div>
        <label></label>
    </form>
</div>
</body>
</html>